body {
  color: #888;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #420666;
}

h1 {
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  text-transform: uppercase;
  font-size: 3.5rem;
  margin-bottom: .5em;
}

h3 {
	font-size: 2em;
}

p {
  text-align: justify;
}

a {
  color: #840CCC;
}

#acercaDe p {
  font-size: 1.15rem;
  font-weight: 500;
}

#acercaDe .subtitulo {
	text-transform: uppercase;
}
.subtitulo {
  font-weight: 500;
  font-size: 2rem;
}


@media (max-width: 991px) {
	h1 {
		font-size: 4.5em;
		line-height: 1em;
	}
	h2 {
		padding-top: .75em;
	}
	@media (max-width: 768px) {
		h1 {
			font-size: 3em;
			line-height: 0.75em;
		}
		h2 {
			font-size: 2.5em;
		}
		h3 {
			font-size: 1.75em;
		}
		.subtitulo {
			font-size: 1.5em;
		}
		#acercaDe p {
			font-size: 1em;
		}
	}
}
.icono a, .icono li {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #666777;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.icono a:hover {
  background-color: #420666;
}

img {
  display: block;
  width: 100%;
  height: auto;
  font-size: 0.5em;
  color: #FFF;
}

.navbar {
  background-color: #420666;
  font-weight: bold;
}

@media (min-width: 992px) {
  #navBar {
    text-align: center;
    flex-direction: column;
    width: 10rem;
    height: 100vh;
  }
  #navBar .cabecera {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #navBar .cabecera img {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid;
    border-color: #630999;
    margin-top: auto;
  }
  #navBar .navbar-collapse {
    display: flex;
    flex-grow: 0;
    margin-bottom: auto;
  }
  #navBar .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  section {
    min-height: 100vh;
  }
}

section .fecha {
  min-width: none;
}

@media (min-width: 768px) {
  section .fecha {
    min-width: 18rem;
  }
}

.text-primary {
  color: #840CCC !important;
}